h1, div, footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

input {
    width: 150px;
    margin: 10px;
    border: 5px dashed purple;
    border-radius: 5px;
}